<!DOCTYPE html>
<html>
<head>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #1C315E;
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  font-size: 60px;
  margin: 0 20px;
}



.todolist li {
  color: white;
  font-size: 30px;



}
li button {
  float: right;
  color: blueviolet;
  margin-left: 5px;
  font-size: 20px;
  border-radius: 5px;
  border: 0px solid transparent;
  border: 1px solid white;
  transition: 0.2s all ease-in-out;
}

li button:hover {
  background-color: blueviolet;
  color: white;
}
#inputtask {
  min-width: 300px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 0px solid transparent;
  font-size: 24px;
  margin-right: 10px;
  color: blueviolet;
}

#inputtask:focus {
  outline: none;
}

#addbutton,
.clear {
  color: blueviolet;
  font-weight: 500;
  font-size: 24px;
  border-radius: 5px;
  border: 0px solid transparent;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  transition: 0.3s all ease-in-out;
}
#addbutton:hover,
.clear:hover {
  background-color: rgba(194, 129, 255, 0.253);
  color: white;
  transform: scale(0.97);
}
.d-none {
  display: none;
}

li span:focus {
  background-color: white;
  color: black;
  outline: none;
  padding: 0 5px;
  display: inline-block;
  min-width: 300px;
  max-width: 400px;
}

.link {
  text-align: center;
  margin: 20px;
}
.link a {
  color: white;
}
table, th,td {
  border: 1px solid;
  border-color :solid blue;
}

th{
background-color: grey;
color :white
}
p{
text-align:center;
color : #D4E8E6;
}

table {
  height: 50%;
  width: 97%;
  color: white;
  border-color :solid black;
}


</style>
</head>
<body>


<div class="main">
  <h1>---------THINGS TO DO---------</h1>

  <form action="add" class="form" method="get" >
    <input id="inputtask" type="text" placeholder="Need to do?" name="data" />
    <input id="addbutton" value="Submit Task!" type="submit" />
  </form>
  <ol class="todolist">

  </ol>
<table >
<tr>
    <th>TASK</th>
    <th>STATUS</th>
</tr>


<tr>


    <td><p><%=hd(tl(tl(tl(c))))%></p>
      <form action="delete" class="form" method="get" >
        <button class="btn" name="delete_data" type="submit" value=<%=hd(tl(tl(tl(b))))%>><i class="fa fa-trash">Delete Task</i></button>
      </form>
    </td>

<td><p><%=hd(tl(tl(tl(d))))%></p>
    <form action="toggle" class="form" method="get" >
        <input value="<%=hd(tl(tl(tl(b))))%>" type=hidden name ="id" />
        <button style='font-size:12px'name="status" type="submit" value=<%=hd(tl(tl(tl(d))))%>>Change Status <i class='fas fa-sync-alt'></i></button>
      </form>
</td>
</tr>


<tr>


  <td><p><%=hd(tl(tl(c)))%></p>
    <form action="delete" class="form" method="get" >
      <button class="btn" name="delete_data" type="submit" value=<%=hd(tl(tl(b)))%>><i class="fa fa-trash">Delete Task</i></button>
    </form>
  </td>

  <td><p><%=hd(tl(tl(d)))%></p>
    <form action="toggle" class="form" method="get" >
      <input value="<%=hd(tl(tl(b)))%>" type=hidden name ="id" />
      <button style='font-size:12px' name="status" type="submit" value=<%=hd(tl(tl(d)))%>>Change Status <i class='fas fa-sync-alt'></i></button>
    </form>
</td>
</tr>


<tr>


    <td><p><%=hd(tl(c))%></p>
      <form action="delete" class="form" method="get" >
    <button class="btn" name="delete_data" type="submit" value=<%=hd(tl(b))%>><i class="fa fa-trash">Delete Task</i></button>
    </form>
    </td>

    <td><p><%=hd(tl(d))%></p>
    <form action="toggle" class="form" method="get" >
    <input value="<%=hd(tl(b))%>" type=hidden name ="id" />
    <button style='font-size:12px'name="status" type="submit" value=<%=hd(tl(d))%>>Change Status <i class='fas fa-sync-alt'></i></button>
    </form>
    </td>
</tr>


<tr>


    <td><p><%=hd(c)%></p>
    <form action="delete" class="form" method="get" >
      <button class="btn" name="delete_data" type="submit" value=<%=hd(b)%>><i class="fa fa-trash"></i>Delete task</button>
    </form>
    </td>

    <td>
    <p><%=hd(d)%></p>
    <form action="toggle" class="form" method="get" >
    <input value="<%=hd(b)%>" type=hidden name ="id" />
    <button  style='font-size:12px' name="status" type="submit" value=<%=hd(d)%>>Change Status <i class='fas fa-sync-alt'></i></button>
    </form>
    </td>
</tr>


</table>
</div>
</body>
</html>



